{% extends 'website/base.html' %}
{% block title %}About Us{% endblock %}
{% block header %}

{% include '/website/snippets/header-centered-content.html' %}

{% endblock %}

{% block content %}

{% include '/website/snippets/choose-us-with-testimonials.html' %}



            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://img.freepik.com/free-photo/delivery-man-with-his-van-ai-generated_268835-8276.jpg?t=st=1733188644~exp=1733192244~hmac=681c13137395f44176394dd4207e09eeacc2c856dc43f505eed5d445b3eade12&w=1380" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://img.freepik.com/free-photo/service-maintenance-worker-repairing_23-2149176718.jpg?t=st=1733185227~exp=1733188827~hmac=5e5b8a6627c3f7dfbb2050b4261c574ffc4e6ab80a82802636c2ef8f74896dc0&w=1380" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Growth &amp; beyond</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>



            <!-- Team members section-->


{% include '/website/snippets/accreditations-carousel.html' %}


{% endblock %}