{% extends 'website/base.html' %}
{% block title %}Services{% endblock %}
{% block header %}

<!--Promintent Work in Progress Banner-->
{% if not service %}
<div class="alert alert-warning text-center" role="alert">
    <strong>Notice:</strong> This page is currently under construction. Some features may not be available yet.
</div>
{% endif %}
<!--End of Work in Progress Banner-->

<div class="container-fluid px-5 py-5"
    style="background-image: url({{service.main_image_path if service else 'https://img.freepik.com/free-photo/side-view-man-working-as-plumber_23-2150746309.jpg?t=st=1733188567~exp=1733192167~hmac=fa72211fc356f3af85cc0e594100ebfd50117a87ea2be3d69994ac8a3da9de0d&w=1380'}});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">




    <div class="row align-items-center g-lg-5 py-5 text-white">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3 text-white">{{service.name if service else 'Place Holder service'}}</h1>
        <p class="col-lg-10 fs-4">{{service.header_description if service else 'Lorem ipsum odor amet, consectetuer adipiscing elit. Penatibus turpis habitasse augue elementum consectetur.'}}</p>
      </div>


      <div class="col-md-10 mx-auto col-lg-5 d-none d-md-block">

    {% include '/website/snippets/contact-form.html' with context %}

      </div>

    </div>
  </div>

{% endblock %}

{% block content %}



<!--End of Accreditations-->


            <!-- Feature section one-->
            <section class="py-5 bg-dark" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{ service.image_one_path if service else 'https://images.unsplash.com/photo-1676210134188-4c05dd172f89?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fHBsdW1iaW5nfGVufDB8fDB8fHwy'}}" alt="Placeholder Image" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-white">{{service.feature_heading_one if service else 'Example Heading'}}</h2>
                            <p class="lead fw-normal  mb-0 text-white">{{service.feature_description_one if service else 'Example Description Dictum libero aliquam orci vulputate venenatis. Aenean vivamus sociosqu facilisis integer porta ipsum leo molestie.
                            Potenti enim vivamus leo nisi, porttitor sem mattis. Massa libero finibus leo maximus ornare scelerisque mattis. Aliquam
                            viverra senectus dis quam nisl varius.'}}</p>
                        </div>
                    </div>
                </div>
            </section>




<!--Service Feature 2-->

            <section class="py-5 bg-dark">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{ service.image_two_path if service else 'https://img.freepik.com/free-photo/service-maintenance-worker-repairing_23-2149176718.jpg?t=st=1733185227~exp=1733188827~hmac=5e5b8a6627c3f7dfbb2050b4261c574ffc4e6ab80a82802636c2ef8f74896dc0&w=1380'}}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-white">{{service.feature_heading_two if service  else 'Example Heading'}}</h2>
                            <p class="lead fw-normal text-white mb-0">{{service.feature_description_two if service else 'Example Description Lorem ipsum odor amet, consectetuer adipiscing elit. Penatibus turpis habitasse augue elementum consectetur.'}}</p>
                        </div>
                    </div>
                </div>
            </section>

{% if not service %}
<div class="alert alert-warning text-center" role="alert">
    <strong>Notice:</strong> This page is currently under construction. Some features may not be available yet.
</div>
{% endif %}
<!--End of Work in Progress Banner-->
<!--End of Feature 2-->
<!--Other services-->
{% include 'website/snippets/other-services-card.html' %}
<!-- Contact Form-->
{% include '/website/snippets/contact-form-section.html' %}

<!-- End of contact form-->




{% endblock %}
