{% extends '/dashboard/base.html' %}
{% block title %}Manage Accreditations{% endblock %}

{% block content %}
<section class="container">
    <h1 class="fw-light">Manage Accreditations</h1>
    <a href="{{ url_for('dashboard_bp.add_accreditation') }}" class="btn btn-primary mb-3">Add New Accreditation</a>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Accreditation Name</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for accreditation in accreditations %}
                        <tr>
                            <td>{{ accreditation.name }}</td>


                        <td>

                            <img src="{{ accreditation.image  }}" alt="{{ accreditation.name }}" class="img-thumbnail" width="100">
                        </td>

                            <td>
                                <a href="{{ url_for('dashboard_bp.update_accreditation', accreditation_id=accreditation.id) }}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{{ url_for('dashboard_bp.delete_accreditation', accreditation_id=accreditation.id) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
