{% extends '/dashboard/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Add Accreditation{% endblock %}

{% block content %}
<section class="container">
    <h1 class="fw-light">Add New Accreditation</h1>
    {{ render_form(form, novalidate=True) }}
                                    <div class="mt-2">
                                <button type="button" class="btn btn-info" onclick="window.history.back()">Cancel</button>


                        </div>

</section>
{% endblock %}
