{% extends '/dashboard/base.html' %}

{% block title %}Edit Accreditation{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Edit Accreditation</h1>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Accreditation Details</h6>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data"
                        action="{{ url_for('dashboard_bp.update_accreditation', accreditation_id=accreditation.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control") }}
                        </div>

                        {% if accreditation.image %}
                        <div class="form-group">
                            <label for="currentLogo" class="form-label mt-2">Current Image:</label>
                            <div class="card shadow-sm mt-2" style="max-width: 200px;">
                                <div class="card-body d-flex justify-content-center align-items-center p-3">
                                    <img src="{{ accreditation.image  }}" alt="No image has been uploaded yet/ Error loading image."
                                        class="img-fluid" style="max-height: 100px; object-fit: contain;">
                                </div>
                            </div>

                        </div>
                        {% endif %}

                        <div class="form-group">
                            {{ form.image.label(class="form-label") }}
                            {{ form.image(class="form-control") }}
                        </div>
                        {{ form.submit(class="btn btn-success mt-2") }}
                        <div class="mt-2">
                                <button type="button" class="btn btn-info" onclick="window.history.back()">Cancel</button>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
