{% extends '/dashboard/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Update Home Content{% endblock %}

{% block content %}
<section class="py-2 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Update Home Content</h1>
        </div>
    </div>
</section>

<form action="{{ url_for('dashboard_bp.update_home_page') }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <!-- Heading Example -->
        <div class="container mt-4">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title fw-bold">Heading</h5>
    <p class="card-text">Subheading</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
<!-- End of Heading Example -->
    <div class="container mt-4">
        <div class="form-group">
            <h3>{{ form.heading.label(class="form-label") }}</h3>
            {{ form.heading(class="form-control", value=home.heading) }}
        </div>
        <div class="form-group">
            <h3>{{ form.subheading.label(class="form-label") }}</h3>
            {{ form.subheading(class="form-control", value=home.subheading) }}
        </div>
        <div class="form-group">
            <h3>{{ form.description.label(class="form-label") }}</h3>
            <textarea class="form-control" rows="3" name="description">{{ home.description }}</textarea>
        </div>

<!-- Image One -->
<div class="form-group">
    <h3>{{ form.image_one.label(class="form-label") }}</h3>
    {% if home.image_one %}
        <p>Current:</p>
<img src="{{ home.image_one }}" alt="Image one" style="width: 100px;">        
    {% else %}
        <p><span>No Image</span></p>
    {% endif %}
    {{ form.image_one(class="form-control") }}
</div>


        <!-- Image Two -->
        <div class="form-group">
            <h3>{{ form.image_two.label(class="form-label") }}</h3>
            {% if home.image_two %}
                <p>Current: <img src="{{ home.image_two }}" alt="Image Two" style="width: 100px;"></p>
            {% else %}
                <p><span>No Image</span></p>
            {% endif %}
            {{ form.image_two(class="form-control") }}
        </div>

        <!-- Image Three -->
        <div class="form-group">
            <h3>{{ form.image_three.label(class="form-label") }}</h3>
            {% if home.image_three %}
                <p>Current: <img src="{{ home.image_three }}" alt="Image Three" style="width: 100px;"></p>
            {% else %}
                <p><span>No Image</span></p>
            {% endif %}
            {{ form.image_three(class="form-control") }}
        </div>

        <!-- Image Four -->
        <div class="form-group">
            <h3>{{ form.image_four.label(class="form-label") }}</h3>
            {% if home.image_four %}
                <p>Current: <img src="{{ home.image_four }}" alt="Image Four" style="width: 100px;"></p>
            {% else %}
                <p><span>No Image</span></p>
            {% endif %}
            {{ form.image_four(class="form-control") }}
        </div>
        <!-- Content URL One -->
        <div class="form-group">
            <h3>{{ form.content_url_one.label(class="form-label") }}</h3>
            {{ form.content_url_one(class="form-control", value=home.content_url_one) }}
        </div>

        <!-- Content URL Two -->
        <div class="form-group">
            <h3>{{ form.content_url_two.label(class="form-label") }}</h3>
            {{ form.content_url_two(class="form-control", value=home.content_url_two) }}
        </div>

        <!-- Content URL Three -->
        <div class="form-group">
            <h3>{{ form.content_url_three.label(class="form-label") }}</h3>
            {{ form.content_url_three(class="form-control", value=home.content_url_three) }}
        </div>




        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
{% endblock %}
