{% extends '/dashboard/base.html' %}
{% block title %}Add Job{% endblock %}
{% block content %}
<section class="container">
    <h1>Add A New Project to the Gallery</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('dashboard_bp.add_job') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.name.label }} 
            {{ form.name(class="form-control", placeholder="e.g, Window Repair") }}
        </div>
        
        
        <div class="mb-3">{{ form.main_image_path.label }}
            {{ form.main_image_path(class="form-control") }}</div>

      
        <div class="mb-3">{{ form.location.label }} {{ form.location(class="form-control") }}</div>
        <button type="submit" class="btn btn-primary">Add Project</button>
                <button type="button" class="btn btn-info" onclick="window.history.back()">Cancel</button>

    </form>
</section>
{% endblock %}
