{% extends '/dashboard/base.html' %}
{% block title %}Edit Job{% endblock %}
{% block content %}
<section class="container">
    <h1>Edit Project - {{ job.name }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
        <div class="mb-3">
            {{ form.main_image_path.label }} 
            {{ form.main_image_path(class="form-control") }}
            {% if job.main_image_path %}
                <p>Current Image: <img src="{{ url_for('static', filename=job.main_image_path) }}" width="100"></p>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.image_one_path.label }} 
            {{ form.image_one_path(class="form-control") }}
            {% if job.image_one_path %}
                <p>Before Image: <img src="{{ url_for('static', filename=job.image_one_path) }}" width="100"></p>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.image_two_path.label }} 
            {{ form.image_two_path(class="form-control") }}
            {% if job.image_two_path %}
                <p>After Image: <img src="{{ url_for('static', filename=job.image_two_path) }}" width="100"></p>
            {% endif %}
        </div>
        <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
        <div class="mb-3">{{ form.location.label }} {{ form.location(class="form-control") }}</div>
        <button type="submit" class="btn btn-primary">Update Project</button>
    </form>
</section>
{% endblock %}
