<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
        href="{{url_for('dashboard_bp.profile')}}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Dashboard</div>
    </a>

    <li class="nav-item">
        <a class="nav-link" href="{{url_for('dashboard_bp.profile')}}">
            <i class="fa-solid fa-user-large"></i>
            <span>Admin Profile</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <li class="nav-item">
        <a class="nav-link" href="{{url_for('dashboard_bp.company_profile')}}">
<i class="fa-solid fa-building"></i>   
         <span>Company Profile</span>
        </a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->

    <div class="sidebar-heading">Pages</div>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
    
    <!--Web Pages-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fa-solid fa-folder-open"></i>
            <span>Modify Website Pages</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Modify Pages</h6>

                {% if not home_exists %}
                <a class="collapse-item" href="{{ url_for('dashboard_bp.add_home_content') }}">
                    Add Home Page
                    <i class="fa-solid fa-spinner p-1" style="color: #ff0000;"></i>
                </a>
                {% else %}
                <a class="collapse-item " href="{{ url_for('dashboard_bp.update_home_page') }}">
                    Home Page</a>
                {% endif %}

                {% if not about_us_exists %}
                <a class="collapse-item" href="{{ url_for('dashboard_bp.add_home_content') }}">
                     Add About Us Page 
                                        <i class="fa-solid fa-spinner p-1" style="color: #ff0000;"></i>

                </a>
                {% else %}
                <a class="collapse-item" href="{{ url_for('dashboard_bp.update_about_us_page') }}">
                    About Us Page
                </a>
                {% endif %}




                <a class="collapse-item" href="{{url_for('dashboard_bp.get_services')}}">
                    Services Page</a>
                <a class="collapse-item" href="{{url_for('dashboard_bp.get_languages')}}">Languages</a>
            
            
            </div>
        </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
    
    <!--Projects Page-->

<div class="sidebar-heading">Features</div>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
    
    <!--Web Pages-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFeatures" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fa-solid fa-folder-open"></i>
            <span>Website Features</span>
        </a>
        <div id="collapseFeatures" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Widgets and Features</h6>
    

    
                <a class="collapse-item" href="{{url_for('dashboard_bp.get_accreditations')}}">
                    Accreditations</a>
    
    
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!--Projects Page-->

    <hr class="sidebar-divider d-none d-md-block" />



    <li class="nav-item">
        <a class="nav-link" href="{{url_for('website_bp.home')}}">
<i class="fa-solid fa-house"></i>            <span>Website Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Accreditations-->


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </li>
</ul>