{% extends '/dashboard/base.html' %}

{% block title %}Manage Skills{% endblock %}

{% block content %}
<section class="container">
    <h1 class="fw-light">Manage Skills (maximum of 6)</h1>
    <a href="{{ url_for('dashboard_bp.add_skill') }}" class="btn btn-primary mb-3">Add New Skill</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in skills %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>
                    <a href="{{ url_for('dashboard_bp.update_skill', skill_id=skill.id) }}" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="{{ url_for('dashboard_bp.delete_skill', skill_id=skill.id) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
