{% extends '/dashboard/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Update Home Content{% endblock %}

{% block content %}
<section class="py-2 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Update Home Content</h1>
        </div>
    </div>
</section>

<form action="{{ url_for('dashboard_bp.update_home_page') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="container mt-4">
        <div class="form-group">
            <h3>{{ form.subheading.label(class="form-label") }}</h3>
            {{ form.subheading(class="form-control", value=home.subheading) }}
        </div>
        <div class="form-group">
            <h3>{{ form.description.label(class="form-label") }}</h3>
            <textarea class="form-control" rows="3" name="description">{{ home.description }}</textarea>
        </div>
        <div class="form-group">
            <h3>{{ form.img_url.label(class="form-label") }}</h3>
            {{ form.img_url(class="form-control", value=home.img_url) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
{% endblock %}
