<section id="accreditations" class="py-5 bg-light">
  <div class="container text-center">
    <h2 class="mb-4">Our Accreditations</h2>
    <div class="row">
      <!-- Logo 1 -->
      <div class="col-6 col-md-4 col-lg-2 mb-4">
        <img src="/static/uploads/accreditations/trust-pilot.png" alt="Trust Pilot"
          style="max-height: 80px; object-fit: contain; margin: auto; display: block; width: auto;">
      </div>
      <!-- Logo 2 -->
      <div class="col-6 col-md-4 col-lg-2 mb-4">
        <img src="/static/uploads/accreditations/cartificate 2.png" alt="Cartificate"
          style="max-height: 80px; object-fit: contain; margin: auto; display: block; width: auto;">
      </div>
      <!-- Logo 3 -->
      <div class="col-6 col-md-4 col-lg-2 mb-4">
        <img src="/static/uploads/accreditations/bosch.png" alt="Bosch"
          style="max-height: 80px; object-fit: contain; margin: auto; display: block; width: auto;">
      </div>
      <!-- Logo 4 -->
      <div class="col-6 col-md-4 col-lg-2 mb-4">
        <img src="/static/uploads/accreditations/gas-safe.png" alt="Gas Safe"
          style="max-height: 80px; object-fit: contain; margin: auto; display: block; width: auto;">
      </div>
      <!-- Logo 5 -->
      <div class="col-6 col-md-4 col-lg-2 mb-4">
        <img src="/static/uploads/accreditations/badge.png" alt="Placeholder"
          style="max-height: 80px; object-fit: contain; margin: auto; display: block; width: auto;">
      </div>
      <!-- Logo 6 -->
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <img src="/static/uploads/accreditations/Google.png" alt="Google"
            style="max-height: 80px; object-fit: contain; margin: auto; display: block; width: auto;">

      </div>

    </div>
  </div>
</section>