<section class="py-5 bg-dark" id="contact">
    <div class="container text-white">
        <div class="row g-5">
            <!-- Contact Information -->
            <div class="col-lg-4">
                <!-- <h2 class="fw-bold">Contact Us</h2>-->
                <div class="mt-4">


                    {% if company and company.show_location %}

                    <!-- Location -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon-container me-3 text-primary">
                            <i class="fa-solid fa-location-dot fa-2x"></i>
                        </div>
                        <div>
                            <h5 class="mb-1 card-title">Location</h5>
                            <p class="mb-0">{{company.address}}</p>
                        </div>


                    </div>
                    {% else%}
                    <!-- Email-->
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon-container me-3 text-primary">
                            <i class="fa-solid fa-envelope fa-2x"></i>
                        </div>
                        <div>
                            <h5 class="mb-1 card-title">Email Us</h5>
                            <p class="mb-0">{{company.email}}</p>
                        </div>


                    </div>



                    {% endif %}




                    <!-- Call Us -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon-container me-3 text-primary">
                            <i class="fa-solid fa-phone fa-2x"></i>
                        </div>
                        <div>
                            <h5 class="mb-1 card-title">Call Us</h5>

                            <p class="mb-0">{{ company.phone if company else '077777777' }}</p>
                        </div>
                    </div>
                    <!-- Opening Hours -->
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3 text-primary">
                            <i class="fa-solid fa-calendar-days fa-2x"></i>
                        </div>
                        <div>
                            <h5 class="mb-1 card-title">Opening Hours</h5>
                            <p class="mb-0">Mon - Fri: {{company.openingHours if
                                company else '8:00-16:00'}}</p>
                            <p class="mb-0">Saturday - Sunday: {{company.weekendHours if
                                company
                                else '24/7 emergency services'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Form -->

            <div class="col-lg-8">
               
                {% include '/website/snippets/contact-form.html' %}


            </div>
        </div>
    </div>
</section>