<div class="container bg-white text-black">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none text-black">
      <img src="/static/uploads/logos/roofing_logo.png" alt="Logo" class="img-fluid" style="max-height: 115px;">
      <h1 class="ms-3" style="font-size: 2rem;">
        <span style="color: var(--primary-color);">Ashey's</span> 
        <span style="color: #118DF0;">Roofing and Construction</span>
      </h1>
      </a>
      <p class="text-black">© Copyright {{ current_year }} Ashey's Company, Ltd </p>
    </div>

    <div class="col mb-3"></div>

    <div class="col mb-3">
      <h5 class=" fw-bold" style="color: #0E2F56;"> Our Services</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black ">Plumbing & Central Heating</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Bathroom Installation</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Underfloor Heating</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Electrical Installation</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Roofing Services</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class=" fw-bold" style="color: #0E2F56;">Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class=" fw-bold" style="color: #0E2F56;">Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">About</a></li>
      </ul>
    </div>
  </footer>
</div>
