{% if not jobs %}
<div class="container py-5">
    <h2 class="text-center mb-4 text-white">Our Work</h2>
    <div class="row gy-4">

        <div class="alert alert-warning text-center" role="alert">
            <strong>Notice:</strong> This section is currently under construction. Some features may not be available
            yet,
            the
            images and text are placeholders.
        </div>

        <!-- Image 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="https://images.unsplash.com/photo-1693907986952-3cd372e4c9d8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBsdW1iaW5nfGVufDB8fDB8fHww"
                    class="img-fluid rounded portfolio-img gallery-image" data-index="0" alt="Placeholder 1"
                    loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="text-center mt-2 card-title">Drainage Repair</h5>
                    <h6 class="text-center mt-2 ">Slough</h6>

                </div>
            </div>
        </div>





        <!-- Image 2 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="https://images.unsplash.com/photo-1542013936693-884638332954?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGx1bWJpbmd8ZW58MHx8MHx8fDA%3D"
                    class="img-fluid rounded fixed-img portfolio-img gallery-image" data-index="1" alt="Placeholder 2"
                    loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="card-title">Water Purifier Repair</h5>
                    <h6 class="text-center mt-2 ">Dorset</h6>


                </div>
            </div>
        </div>



        <!-- Image 3 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="https://images.unsplash.com/photo-1728975728593-b128b77fa813?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="img-fluid rounded fixed-img portfolio-img gallery-image" data-index="2" alt="Placeholder 3"
                    loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="card-title">Tap Installation</h5>
                    <h6 class="text-center mt-2 ">Aylesbury</h6>

                </div>
            </div>
        </div>

        <!--End of  Befores and Afters-->

        <!-- Image 4 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="https://img.freepik.com/free-photo/high-angle-beautiful-roof-wooden-house_23-2149343706.jpg?t=st=1734042606~exp=1734046206~hmac=be44b57e03d45d5205b1d08d540b6b01ea536b2323ead7b0cf850b95d2a89f95&w=1060"
                    class="img-fluid rounded fixed-img portfolio-img gallery-image" data-index="3" alt="Placeholder 4"
                    loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="card-title">Roofing</h5>
                    <h6 class="text-center mt-2 ">London</h6>

                </div>
            </div>
        </div>
        <!-- Image 5 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="https://img.freepik.com/free-photo/close-up-electric-car-charging_23-2149146254.jpg?t=st=1734042768~exp=1734046368~hmac=d1ac9b021bf359b2c936710d2fdffc8ca6e44825e75934594165e36ab853d1cf"
                    class="img-fluid rounded fixed-img portfolio-img gallery-image" data-index="4" alt="Placeholder 5"
                    loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="card-title">EV charging installation</h5>
                    <h6 class="text-center mt-2 ">Northampton</h6>

                </div>
            </div>
        </div>


        <!-- Image 6 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="https://img.freepik.com/free-photo/close-up-man-using-rotary-switch_23-2149308989.jpg?t=st=1734042903~exp=1734046503~hmac=e48775ec90326013fe2b743af980811cb9d43734347a3614e826bd5cd4c79015&w=1380"
                    class="img-fluid rounded fixed-img portfolio-img gallery-image" data-index="5" alt="Placeholder 6"
                    loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="card-title">Boiler repair and heating installation</h5>
                    <h6 class="text-center mt-2 ">Slough</h6>

                </div>
            </div>
        </div>
    </div>
</div>



{% else %}

<div class="container py-5">
    <h2 class="text-center mb-4 text-white">Our Work</h2>
    <div class="row gy-4">



        <!-- Image 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item card">
                <img src="{{job.image}}" class="img-fluid rounded portfolio-img gallery-image" data-index="0"
                    alt="Placeholder 1" loading="lazy">
                <div class="text-center mt-2">
                    <h5 class="text-center mt-2 card-title">{{job.name}}</h5>
                </div>
            </div>
        </div>





    </div>
</div>



{% endif %}


<!-- Full-Screen Modal -->
<div id="gallery-modal" class="gallery-modal">
    <button class="close-modal" id="close-modal">×</button>
    <button class="modal-nav prev" id="prev-image">‹</button>
    <img id="modal-image" class="modal-image" src="" alt="Gallery Image">
    <button class="modal-nav next" id="next-image">›</button>
</div>