<div class="container py-5">
    <h2 class="text-center mb-4">Gallery</h2>
    <div class="row gy-4">
        <!-- Image 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <a href="https://via.placeholder.com/800x600" class="glightbox" data-gallery="gallery">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid rounded" alt="Placeholder 1">
                </a>
            </div>
        </div>
        <!-- Image 2 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <a href="https://via.placeholder.com/800x600" class="glightbox" data-gallery="gallery">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid rounded" alt="Placeholder 2">
                </a>
            </div>
        </div>
        <!-- Image 3 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <a href="https://via.placeholder.com/800x600" class="glightbox" data-gallery="gallery">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid rounded" alt="Placeholder 3">
                </a>
            </div>
        </div>
        <!-- Image 4 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <a href="https://via.placeholder.com/800x600" class="glightbox" data-gallery="gallery">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid rounded" alt="Placeholder 4">
                </a>
            </div>
        </div>
        <!-- Image 5 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <a href="https://via.placeholder.com/800x600" class="glightbox" data-gallery="gallery">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid rounded" alt="Placeholder 5">
                </a>
            </div>
        </div>
        <!-- Image 6 -->
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <a href="https://via.placeholder.com/800x600" class="glightbox" data-gallery="gallery">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid rounded" alt="Placeholder 6">
                </a>
            </div>
        </div>
    </div>
</div>
