

            <!-- Header-->
            <header class="py-5"  style="background-image: url('https://img.freepik.com/free-photo/worker-repairing-water-heater_23-2149334227.jpg?t=st=1733185380~exp=1733188980~hmac=5c79bfc1bd32eb41b4a859584ea394b45dce6c2fa5a7c3ccd2858822db90953d&w=1380');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">>
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-white">Our mission is to make building websites easier for everyone.</h1>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>