<section class="container my-5">
  <div class="row text-center">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card border-0">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Plumbing & Central Heating" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder: Plumbing & Central Heating</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Plumbing</text>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Plumbing & Central Heating</h5>
          <p class="card-text">
            We have vast and varied experience in all aspects of plumbing & central heating from fixing a dripping tap to whole house heating refurbishments.
          </p>
          <a href="#" class="btn btn-outline-dark">More Info</a>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card border-0">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Bathroom Design" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder: Bathroom Design</title>
          <rect width="100%" height="100%" fill="#6c757d"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Bathroom</text>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Bathroom Design & Installation</h5>
          <p class="card-text">
            We can advise, design and install to the highest quality standards any bathroom suite for any size room, to your requirements and budget.
          </p>
          <a href="#" class="btn btn-outline-dark">More Info</a>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card border-0">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Underfloor Heating" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder: Underfloor Heating</title>
          <rect width="100%" height="100%" fill="#adb5bd"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Underfloor</text>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Underfloor Heating</h5>
          <p class="card-text">
            Whether you require a wet or overlay system, we can offer a full design and install service in all sizes of home.
          </p>
          <a href="#" class="btn btn-outline-dark">More Info</a>
        </div>
      </div>
    </div>
  </div>
</section>
