
{% if not services %}
<!--If db is empty-->

<section class="container my-5 bg-dark text-white " id="services_section">
  <!-- Heading -->
  <div class="text-center mb-4">
    <h2 class="custom-underline">Our Services</h2>
    <p>We offer a wide range of services</p>
  </div>

{% if not service %}
<div class="alert alert-warning text-center" role="alert">
  <strong>Notice:</strong> This section is currently under construction. Some features may not be available yet, the images and text are placeholders.
</div>
{% endif %}
<!--End of Work in Progress Banner-->


  <!-- Cards -->
  <div class="row text-center ">
    <!-- Card 1 -->
    <div class="col-md-4 mb-4 ">
<a href="{{ url_for('website_bp.get_placeholder_service') }}" class="card-link">
  <div class="card border-0 bg-dark text-white">
          <img
            src="https://img.freepik.com/free-photo/worker-repairing-water-heater_23-2149334227.jpg?uid=R135256346&ga=GA1.1.127954026.1703182652"
            alt="Dummy Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold ">Plumbing & Central Heating</h5>
            <p class="card-text">
              We have vast and varied experience in all aspects of plumbing & central heating from fixing a dripping tap
              to whole house heating refurbishments.
            </p>
          </div>
        </div>
      </a>
    </div>


    <!-- Card 2 -->
    <div class="col-md-4 mb-4">
<a href="{{ url_for('website_bp.get_placeholder_service') }}" class="card-link">

        <div class="card border-0 bg-dark text-white">
          <img
            src="https://img.freepik.com/free-photo/3d-rendering-modern-design-marble-tile-toilet-bathroom_105762-2043.jpg?t=st=1733187312~exp=1733190912~hmac=0a33c00f2a5d659ebe0cd12d084787b3fbe7fcc88e7c41521134b2768c85cb69&w=1380"
            alt="Dummy Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold">Bathroom Design & Installation</h5>
            <p class="card-text">
              We can advise, design and install to the highest quality standards any bathroom suite for any size room,
              to your requirements and budget.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card 3 -->
    <div class="col-md-4 mb-4">
<a href="{{ url_for('website_bp.get_placeholder_service') }}" class="card-link">

        <div class="card border-0 bg-dark text-white">
          <img
            src="https://img.freepik.com/free-photo/happy-family-lying-fur-carpet-home_23-2148045566.jpg?t=st=1733187379~exp=1733190979~hmac=20eb950ef8e3f48940a5ec1e39086405c1987dde56d2736e69d7c59d59e0439b&w=1380"
            alt="Dummy Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold">Underfloor Heating</h5>
            <p class="card-text">
              Whether you require a wet or overlay system, we can offer a full design and install service in all sizes
              of home.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card 4 -->
    <div class="col-md-4 mb-4">
<a href="{{ url_for('website_bp.get_placeholder_service') }}" class="card-link">

        <div class="card border-0 bg-dark text-white">
          <img
            src="https://img.freepik.com/free-photo/service-maintenance-worker-repairing_23-2149176719.jpg?t=st=1733187481~exp=1733191081~hmac=a600ad9c4408df2dabbfa30a5e87f2e92e606a083f9fa536ea3eb1ccd15de06d&w=1380"
            alt="Dummy Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold">Electrical Installation</h5>
            <p class="card-text">
              We specialize in safe and efficient electrical installation services for all residential and commercial
              needs. </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card 5 -->
    <div class="col-md-4 mb-4">
<a href="{{ url_for('website_bp.get_placeholder_service') }}" class="card-link">

        <div class="card border-0 bg-dark text-white">
          <img
            src="https://img.freepik.com/free-photo/full-shot-man-working-roof_23-2149343702.jpg?t=st=1733187720~exp=1733191320~hmac=a9be90e381c114e776a511ac135d88ceb8076caa2a378498356fc440ad5eaafc&w=740"
            alt="Dummy Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold">Drainage & Gutter repairs</h5>
            <p class="card-text">
              We provide high-quality roofing services, including repairs, replacements, and installations for all types
              of roofs. </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card 6 -->
    <div class="col-md-4 mb-4">
<a href="{{ url_for('website_bp.get_placeholder_service') }}" class="card-link">

        <div class="card border-0 bg-dark text-white">
          <img
            src="https://img.freepik.com/free-photo/man-electrical-technician-working-switchboard-with-fuses_169016-24062.jpg?t=st=1733187822~exp=1733191422~hmac=4133f79e2323a1da4431c2954068431528d0e935fcb72e2e5656c2466c2cda1e&w=1380"
            alt="Dummy Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold">Air Source & Heat Pumps</h5>
            <p class="card-text">
              We specialize in safe and efficient electrical installation services for all residential and commercial
              needs. </p>
          </div>
        </div>
    </div>
    </a>
  </div>



</section>

{% else %}

<section class="container my-5 bg-dark text-white " id="services_section">
  <!-- Heading -->
  <div class="text-center mb-4">
    <h2 class="custom-underline">Our Services</h2>
    <p>We offer a wide range of services</p>
  </div>
  <!-- Cards -->
  <div class="row text-center ">
    <!-- Card 1 -->
      {% for service in services %}
    <div class="col-md-4 mb-4 ">
      <a href="{{ url_for('website_bp.get_service', service_id=service.id) }}" class="card-link">
        <div class="card border-0 bg-dark text-white">
          <img src="{{service.main_image_path}}" alt="Service Image" class="card-img-top fixed-img">
          <div class="card-body">
            <h5 class="card-title fw-bold ">{{service.name}}</h5>
            <p class="card-text">
              {{service.home_page_card_text}}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}


</section>
{% endif %}